<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include includes/header.ejs %>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
      var socket = io();
      function sendFunction() {
        let author = $('#user').val();
        let message = $('#new-message').val();
        let messageArr = {author : author, message : message};
        socket.emit('new message', messageArr);
        $('#new-message').val('');
      }
      var $height = $('.conversations-section').height();
    socket.on('chat message', function(messageObj){
      //let user = $('#user').val();
      $('#messages-area').append($('<div class="message-author">').text(messageObj.author)).append($('<div class="message">').text(messageObj.message));
        //$('.conversations-section').scrollTop($height); 
        $(".conversations-section").animate({ scrollTop: $('.conversations-section').height()+1000000 }, 100);
    });   

    </script>
  </head>
  <body>
    <div class="main">
      <div class="conversations-section">
        <ul id="messages-area">
          <% conversations.forEach(function(conv) { %>
            <div class="message">
                <div class="message-author"><%= conv.login %></div><div><%= conv.content %></div>
            </div>
        <% }); %>
        </ul>
        <form id="form" onsubmit="return false;">
      </div>
      <div class="texting-section">
        <input id="new-message" type="text" /><button class="send-btn" onclick="sendFunction()">Wyślij</button>
      </div>
    </form>
    </div>
    <input type="hidden" id="user" value="<%= user %>"/>
  </body>
  
</html>
