<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>

    <div class="login-section">
        <div class="login-box">
            <form action="/login" method="post">
                <div class="user-box">
                    <input name="username" id="username" type="text" autocomplete="off" required/>
                    <label>Login</label>
                </div>
                <div class="user-box">
                    <input name="password" id="password" type="password" required/>
                    <label>Hasło</label>
                </div>
                <center><button type="submit">Zaloguj</button></center>
                <div class="registry-section">
                    <a href="/registration">Rejestracja</a>
                </div>
            </form>
        </div>
    </div>
        
    <div class="description-section">
        <h1><%= title %></h1>
        <h3>Komunikator. Zaloguj się by porozmawiać.</h3>
    </div>
  </body>
</html>
