<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../includes/header.ejs %>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/registration.css' />
  </head>
  <body>
    <div class="registration-form">
        <form action="/registration" method="post">
            <div class="user-box">
                <label>email</label><input type="text" name="username" id="username" required/>
                <label>hasło</label><input type="password" name="password" id="password" required/>
                <button type="submit">Zarejestruj</button>
            </div>
        </form>
    </div>
  </body>
</html>